@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input{
  outline: none;

}

@font-face {
font-family: 'Great-Warrior';
src: url('../assets/fonts/great-warrior-personal-use/Great\ Warrior.ttf');
font-weight: 400;
font-style: normal;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        /* color: white; */
        background: white;
    }

}

@layer base {
    html {
        font-family: Montserrat, system-ui, sans-serif;
    }
}

@layer components{
  .btn {
    @apply py-2 px-6 text-textColor bg-priColor rounded-xl whitespace-nowrap text-bgColor1
  }
  .btn-text{
    @apply  text-textColor
  }
  .gen-p{
    @apply md:px-10 px-5
  }
}